.MenuSlider{
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.inner-carousel{
    display: flex;
}

.carousel{
    overflow: hidden;
    width: 100%;
    cursor:grab;
    margin: 0 32px 0 32px;
}

@media (min-width: 940px) {
    .carousel{
       
        margin: 0 120px 0 120px;
        max-width: 1200px;
      
    }
}