.MainContent{
    height: 70vh;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}


.side-order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    
    p{
        font-family: "Cedarville Cursive";
        font-size: 19px;
    }
    h1{
        margin-top: 10px;
        font-size: 54px;
        font-weight: 400;
    }
}

.order-here-button{
    padding: 18px 25px;
    background-color: #2D635E;
    width: 45%;
    margin-top:24px;
    border-radius: 7px;
    color:white;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    p{
        margin: 0 12px 0 0;
    }
}

.coffee-aside-image{
    display: none;
}

@media (min-width: 940px) {
    .coffee-aside-image{
        display: unset;
        margin: 0 120px 0 0;
    }

    .MainContent{
        justify-content: space-between;
        
    }

    .side-order{
        margin: 0 0 0 120px;
        align-items: baseline;
    }


}